<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"  
    rel="stylesheet" />
    <script src="https://kit.fontawesome.com/df7032ec01.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/style.css">
    <title>Home</title>
  </head>
  <body class="home">
    <header class="home_header">
      <div class="home__header__box" >
        <div class="home__header__logo">
          <img src="/images/logo-mercado-liebre.svg" alt="" />
        </div>
            <form class="home__header__form" action="">
              <input type="text" placeholder="Buscar productos..." />
              <button><i class="fa-solid fa-magnifying-glass"></i></button>
            </form>
          <div class="home__header--iconopeso-box">
            <p>
              <i class="fa-solid fa-hand-holding-dollar"></i> 
              Comprá en cuotas y sin tarjeta de crédito
            </p>
          </div>
      </div>
      <nav class="home__header__menu">
        <ul class="home__header__ul--nav">
          <li><a href="">Ofertas</a></li>
          <li><a href="">Tiendas Oficiales</a></li>
          <li><a href="">Vender</a></li>
          <li><a href="">Ayuda</a></li>
        </ul>
        <ul class="home__header__ul--user">
          <li><a href="#creaTuCuenta">Creá tu cuenta</a><i class="fa-regular fa-id-card"></i></li>
          <li><a href="#Ingresa">Ingresá</a><i class="fa-solid fa-right-to-bracket"></i></li>
          <li><a href="#MisCompras">Mis compras</a><i class="fa-solid fa-basket-shopping"></i></li>
        </ul>
        <div class="burger-menu">
          <i class="fas fa-bars"></i>
          </div>  
      </nav>
    </header>


    <main class="home__main">
      <div>
        <img class="home__main__publi"   
        src="/images/img-home-banner.jpg" alt="">
      </div>
      <section class="main__section--ofertas">
        <h3>Basado en tu última visita</h3>
        <div class="home__main-articleBox">
          <article class="noneDisplay-mobile displayTablet">
               <div>
                  <img src="/images/img-cafetera-moulinex.jpg" alt="Cafetera Moulinex">
              </div>
              <div class="main__section--ofertas-descripcion">
              <i class="fa-solid fa-truck" ></i>
              <p class="home__main__section__article__precio">$6.770</p>
              <p class="home__main__section__article__descuento">40% OFF</p>
              <h4>Cafetera Moulinex</h4></div>
          </article>
          <article>
              <div>
                 <img src="/images/img-macbook-pro-2019.jpg" alt="macbook pro 2019">
             </div>
             <div class="main__section--ofertas-descripcion">
             <i class="fa-solid fa-truck" ></i>
             <p class="home__main__section__article__precio">$230.000</p>
             <p class="home__main__section__article__descuento">20% off</p>
             <h4>MacBook Pro 2019</h4></div>
         </article>
         <article class="noneDisplay-mobile">
          <div>
             <img src="/images/img-samsung-galaxy-s10.jpg" alt="samsung galaxy s10">
       </div>
       <div class="main__section--ofertas-descripcion">
       <i class="fa-solid fa-truck" ></i>
       <p class="home__main__section__article__precio">$70.500</p>
       <p class="home__main__section__article__descuento">10% off</p>
       <h4>Samsung Galaxy S10</h4>
      </div>
        </article>
        <article class="noneDisplay-mobile">
            <div>
               <img src="/images/img-tv-samsung-smart.jpg" alt="tv samsung smart">
           </div>
           <div class="main__section--ofertas-descripcion">
           <i class="fa-solid fa-truck" ></i>
           <p class="home__main__section__article__precio">$23.200</p>
           <p class="home__main__section__article__descuento">5% off</p>
           <h4>SmartTv Samsung 43</h4></div>
            </article>
        </div>  
    </section>
      
      <section class="main__section--ofertas sectionOfertas">
        <h3>Ofertas</h3>
        <article>
          <div>
             <img src="/images/img-cafetera-moulinex.jpg" alt="Cafetera Moulinex">
         </div>
         <div class="main__section--ofertas-descripcion">
         <i class="fa-solid fa-truck" ></i>
         <p class="home__main__section__article__precio">$6.770</p>
         <p class="home__main__section__article__descuento">40% OFF</p>
         <h4>Cafetera Moulinex</h4></div>
     </article>
        <article>
          <div>
            <img
              src="/images/img-macbook-pro-2019.jpg"
              alt=""
            />
          </div>
          <div class="main__section--ofertas-descripcion">
          <i class="fa-solid fa-truck" ></i>
          <p class="home__main__section__article__precio">$230.000</p>
          <p class="home__main__section__article__descuento"10% OFF>20% OFF</p>
          <h4>MacBook Pro 2019</h4></div>
        </article>
        <article>
          <div>
            <img
              src="/images/img-samsung-galaxy-s10.jpg"
              alt=""
            />
          </div>
          <div class="main__section--ofertas-descripcion">
          <i class="fa-solid fa-truck" ></i>
          <p class="home__main__section__article__precio">$70.500</p>
          <p class="home__main__section__article__descuento"10% OFF>10% OFF</p>
          <h4>Samsung Galaxy S10</h4></div>
        </article>
        <article>
          <div>
             <img src="/img/img-tv-samsung-smart.jpg" alt="tv samsung smart">
         </div>
         <div class="main__section--ofertas-descripcion">
         <i class="fa-solid fa-truck" ></i>
         <p class="index__main__section__article__precio">$23.200</p>
         <p class="index__main__section__article__descuento">5% off</p>
         <h4>SmartTv Samsung 43</h4></div>
          </article>
      </section>
    </main>

    <footer class="home__footer">
      <section class =home__footer__section "">
        <article class="home__footer__section__article">
        <div class="home__footer__icono"><i class="fa-solid fa-credit-card"></i></div>
        <h4>Pagá con tarjeta o en efectivo</h4>
        <p>Con MercadoLiebre Cash tenés cuotas sin interes con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!</p>
        </article>
      </section>
      <section>
        <article class="home__footer__section__article">
          <div class="home__footer__icono">
          <i class="fa-solid fa-gift"></i>
          </div> 
        <h4>Envio gratis desde los $ 2.500</h4>
        <p>Solo por estar registrado en Mercado Liebre tenes envíos gratis en miles de productos. Es Un beneficio de Mercado Puntos. </p>
        </article>
      </section>
      <Section>
        <article class="home__footer__section__article">
          <div class="home__footer__icono"><i class="fa-solid fa-user-shield"></i></div>
        <h4>Seguridad de principio a fin</h4>
        <p>
        ¿No te gusta?¡Devolvelo! En MercadoLiebre no hay nada que no puedas hacer porque estas siempre protegid@.
        </p>
        
        </article>
      </Section>
        <h6>Copyiright © 1999.2020 MercadoLiebre S.R.L</h6>
        <p>CMK</p>
      </section>
    </footer>
  </body>
</html>
